body {
  background: black;
  color: white;
}

#container {
  width: 40vw;

  height: 80vh;
  background: #003366;
  margin: auto;
  margin-top: 10vh;
}

#num-container {
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#result {
  width: 100%;
  background: rgba(0, 0, 0, .4);
  height: 15%;
  display: flex;
}

#result p {
  font-size: 40px;
  margin:auto 0 auto auto;
  vertical-align: middle;
}

.button {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  /* display: inline; */
  z-index: 100;
}

.button-inner {
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  vertical-align: middle;
  text-align: center;
  background: black;
  height: 90%;
  width: 90%;
  vertical-align: middle;
  /* margin:10px; */
  margin:auto;

}

.button-inner p {
  margin: auto;
  vertical-align: middle;
}